<fieldset>
<legend>{{ _('Dashboard colors') }}</legend>

<div class="control-group control-full">
  <label class="control-label" for="orgdashboards_base_color">Base color</label>
  <div class="controls ">
    {% if data.orgdashboards_base_color %}
      <input id="orgdashboards_base_color" name="orgdashboards_base_color" class="jscolor"
           value="{{ data.orgdashboards_base_color }}">
    {% else %}
      <input id="orgdashboards_base_color" name="orgdashboards_base_color" class="jscolor"
           value="000000">
    {% endif %}
  </div>
</div>

<div class="control-group control-full">
  <label class="control-label" for=orgdashboards_secondary_color">Secondary color</label>
  <div class="controls ">
    {% if data.orgdashboards_secondary_color %}
      <input id="orgdashboards_secondary_color" name="orgdashboards_secondary_color" class="jscolor"
           value="{{ data.orgdashboards_secondary_color }}">
    {% else %}
      <input id="orgdashboards_secondary_color" name="orgdashboards_secondary_color" class="jscolor"
           value="000000">
    {% endif %}
  </div>
</div>

</fieldset>

<fieldset>
<legend>{{ _('Text colors') }}</legend>

<div class="control-group control-full">
  <label class="control-label" for="orgdashboards_main_color">Main color</label>
  <div class="controls ">
    {% if data.orgdashboards_main_color %}
      <input id="orgdashboards_main_color" name="orgdashboards_main_color" class="jscolor"
           value="{{ data.orgdashboards_main_color }}">
    {% else %}
      <input id="orgdashboards_main_color" name="orgdashboards_main_color" class="jscolor"
           value="818181">
    {% endif %}
  </div>
</div>

<div class="control-group control-full">
  <label class="control-label" for="orgdashboards_new_data_color">New data color</label>
  <div class="controls ">
    {% if data.orgdashboards_new_data_color %}
      <input id="orgdashboards_new_data_color" name="orgdashboards_new_data_color" class="jscolor"
           value="{{ data.orgdashboards_new_data_color }}">
    {% else %}
       <input id="orgdashboards_new_data_color" name="orgdashboards_new_data_color" class="jscolor"
           value="000000">
    {% endif %}
  </div>
</div>

<div class="control-group control-full">
  <label class="control-label" for="orgdashboards_all_data_color">All data color</label>
  <div class="controls ">
    {% if data.orgdashboards_all_data_color %}
      <input id="orgdashboards_all_data_color" name="orgdashboards_all_data_color" class="jscolor"
           value="{{ data.orgdashboards_all_data_color }}">
    {% else %}
      <input id="orgdashboards_all_data_color" name="orgdashboards_all_data_color" class="jscolor"
           value="000000">
    {% endif %}

  </div>
</div>

</fieldset>