{% extends "organization/read_base.html" %}
{% import 'macros/form.html' as form %}
{% block subtitle %}{{ _('Edit dashboard') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ c.group_dict.display_name }}{% endblock %}</h1>

    <fieldset>
    <legend>{{ _('Dashboard fields') }}</legend>

    {{form.select('orgdashboards_is_active', 'orgdashboards_is_active', _('Is dashboard active?'), options=[{'value': '1', 'text': 'Yes'}, {'value': '0', 'text': 'No'}], selected='1')}}

    {{form.select('orgdashboards_lang_is_active', 'orgdashboards_lang_is_active', _('Show language selector'), options=[{'value': '1', 'text': 'Yes'}, {'value': '0', 'text': 'No'}], selected='0')}}

    {{ form.markdown('orgdashboards_header', label=_('Dashboard header'), id='orgdashboards_header', placeholder=_('Set the dashboard header text'), value=data.orgdashboards_header, error=errors.orgdashboards_header) }}

    {{ form.markdown('orgdashboards_footer', label=_('Dashboard footer'), id='orgdashboards_footer', placeholder=_('Set the dashboard header footer'), value=data.orgdashboards_footer, error=errors.orgdashboards_footer) }}

    {{ form.markdown('orgdashboards_description', label=_('Dashboard description'), id='orgdashboards_description', placeholder=('Set the dashboard description'),
            value=data.orgdashboards_description, error=errors.orgdashboards_description) }}

    {{form.select('orgdashboards_base_color', 'orgdashboards_base_color', _('Choose dashboard base color'), options=[
    {'value': '#B80000', 'text': 'Uganda'}, {'value': '#008751', 'text': 'Nigeria'},
    {'value': '#0070C0', 'text': 'Tanzania'}, {'value': '#FBBB05', 'text': 'Myanmar'}], selected='#B80000')}}

    {{form.select('orgdashboards_datasets_per_page', 'orgdashboards_datasets_per_page', _('Datasets per page'), options=[
    {'value': '5', 'text': '5'}, {'value': '10', 'text': '10'},
    {'value': '15', 'text': '15'}, {'value': '#20', 'text': '20'},
    {'value': '25', 'text': '25'}, {'value': '50', 'text': '50'}], selected='5')}}

 	</fieldset>

{% endblock %}
