{% block resource_view %}
    <div id="view-{{ resource_view['id'] }}" data-id="{{ resource_view['id'] }}"
         data-title="{{ resource_view['title'] }}" data-description="{{ resource_view['descripion'] }}">
        {% if not h.resource_view_is_iframed(resource_view) %}
        
        	{% if resource_view is not none and resource is not none and package is not none %}
            {{ h.rendered_resource_view(resource_view, resource, package) }}
            {% endif %}
            
        {% else %}
            <div class="data-viewer-error js-hide">
                <p class="text-error">
                    <i class="icon-info-sign"></i>
                    {{ _('This resource view is not available at the moment.') }}
                    <a href="#" data-toggle="collapse" data-target="#data-view-error">
                        {{ _('Click here for more information.') }}
                    </a>
                </p>
                <p id="data-view-error" class="collapse"></p>
                <p>
                    <a href="{{ raw_resource_url }}" class="btn btn-large resource-url-analytics" target="_blank">
                        <i class="icon-large icon-download"></i>
                        {{ _('Download resource') }}
                    </a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
